{% extends "base.html" %}

{% block main %}

<h3><b> The Republican Party </b></h3>

<br>

The Republican Party is one of the two major contemporary political parties in the United States, along with the Democratic Party. Founded by anti-slavery expansion activists in 1854, it is often called the GOP (Grand Old Party), although the rival Democratic Party is older. The party's platform generally reflects American conservatism in the U.S. political spectrum. American conservatism of the Republican Party is not wholly based upon rejection of the political ideology of liberalism, as many principles of American conservatism are based upon classical liberalism.[4] Rather the Republican Party's conservatism is largely based upon its support of classical liberal principles against the modern liberalism of the Democratic Party that is considered American liberalism in contemporary American political discourse.

<br> </br>

In the 112th Congress, elected in 2010, the Republican Party holds a majority of seats in the House of Representatives, and a minority of seats in the Senate. The party holds the majority of governorships, as well as the majority of state legislatures, and control of one chamber in five states.

</br>
<br></br>
<img src="/static/republicans.png" width= "200"/><img src="/static/republicans.png" width= "200"/><img src="/static/republicans.png" width= "200"/><img src="/static/republicans.png" width= "200"/>

{% endblock %}
